<div class="container">
  <div class="row">
    <h3 class="text-center">Register Your School Today!</h3>
    <p class="text-center">A few steps away and your student's
    needs will be right in front of you!  This is a monthly subsciption!</p>
    
    <div class="col-md-6 col-md-offset-3">
        
      <div class="well">
          
        <%= form_for @register do |f| %>
          
          <div class="form-group">
            <%= f.label :name_of_person_completing_form %>
            <%= f.text_field :name_of_person_completing_form, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :role_in_school %>
            <%= f.text_field :role_in_school, placeholder: "Ex: School Counselor, Assistant Principal", class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :school_name %>
            <%= f.text_field :school_name, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :grade_levels %>
            <%= f.text_field :grade_levels, placeholder: "Ex: 9-12, 6-8, 6-12", class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :street_name %>
            <%= f.text_field :street_name, placeholder: "Ex: 123 School Drive", class: 'form-control' %>
          </div>
      
          <div class="form-group">
            <%= f.label :city %>
            <%= f.text_field :city, class: 'form-control' %>
          </div>
          
           <div class="form-group">
            <%= f.label :state %>
            <%= f.text_field :state, placeholder: "Ex: Virginia, Pennsylvania, California", class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :zip_code %>
            <%= f.text_field :zip_code, class: 'form-control' %>
          </div>
          
          <div class="field form-group">
            <%= label_tag :card_number, "Credit Card Number" %>
            <%= text_field_tag :card_number, nil, name: nil, class: "form-control" %>
          </div>
          
          <div class="field form-group">
            <%= label_tag :card_code, "Security Code on Card (CVV)" %>
            <%= text_field_tag :card_code, nil, name: nil, class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= label_tag :card_month, "Card Expiration" %>
            <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month" } %>
            <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year" } %>
          </div>
          
          <div class="actions form-group">
            <%= f.submit "Get ReachMe!", class: 'btn btn-success' %>
          </div>
          
        <% end %>
        
      </div>
    </div>
  </div>
</div>